<ion-header>
  <ion-toolbar>
    <img src="../../../assets/registrarSintomas.jpg">
  </ion-toolbar>
</ion-header>
<div class="container">
  <br>
  <div class="ion-text-center">
    <label>Autodiagnostico, <b>{{nombreUsuario}}</b></label>    
  </div>
  <div class="ion-text-center">
    <label><h4>Selecciona los síntomas que presentas</h4></label>
  </div>  
  <br>
   <div class="container">
      <div *ngFor="let sinto of sintomasFiltrados" class="borderColor" expand="block">
        <ion-item>
          <ion-label>{{sinto.descripcion}}</ion-label>
          <input type="checkbox"  class="checkbox"  id="chk" type="checkbox"  [checked]="sinto.estado" 
                 class="listaSintoma" [value]="sinto.codSintoma"  color="danger"  
                (click)="agregarSintoma(sinto.codSintoma)">  
        </ion-item>
      </div> 
      <br>    
    <div class="ion-text-center">
      <ion-button color="danger" class="ion-text-center" (click)="registrarLavado()">Registrar</ion-button>
    </div> 
   </div>   
</div>
<ion-content>  
  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button  (click)="ingresarPaginaLavadoManos()">
          <ion-icon name="hand-left-outline" color="danger"></ion-icon>
          <ion-label>Lavado de manos</ion-label>
        </ion-tab-button>
        <ion-tab-button  (click)="ingresarPaginaInicio()">
          <ion-icon name="home-outline" color="danger"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button  (click)="ingresarPaginaCuidados()">
          <ion-icon name="accessibility-outline" color="danger"></ion-icon>
          <ion-label >Cuidados</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
    
