.titulo{
    text-align: center;
}
.avatar{
    text-align: center;
    margin: auto;
}
.subtitulo{
    text-align: center;
}
.temperatura{
    text-align: center;
}
ion-item {
    position: relative;
}