<ion-header>
  <ion-toolbar>
    <img src="../../../assets/Banner_Alertas.jpg">
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true">
  <ion-card *ngIf="mostrar" > 
    <ion-card-header class="ion-text-center">
      <h3>Notificaciones</h3>
    </ion-card-header> 

      <ion-card-content class="ion-text-justify">       
        <div *ngFor="let noti of notificaciones" class="ion-text-center" expand="block">
         
              <ion-card [ngStyle]="{'background-color': noti.fechaCierre != null ? '#525151 ' :  '#FC0404' }" 
                class="ion-text-center" style="max-height: 80px;">
                <ion-card-content>                     
                    <div>
                      <ion-button  color="dawhitenger" class="ion-text-center"
                      [disabled]="noti.fechaCierre != null" (click)="IngresarLavado(noti.codRegistro)"> 
                      <br> 
                      <div *ngIf="noti.fechaCierre == null">
                        <b>Estado: Abierto&nbsp;<ion-icon name="calendar-outline"></ion-icon>&nbsp;
                          {{noti.fecha | date : 'dd/MM/yyyy'}}</b><br> 
                          <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <ion-icon style="font-size: 1.5em" name="alarm-outline"></ion-icon>&nbsp;{{noti.hora}}</b>  
                         
                      </div>                      
                      <div *ngIf="noti.fechaCierre != null" style="color: white;"> 
                        <b>Estado: Cerrado&nbsp;<ion-icon name="calendar-outline"></ion-icon>
                        {{noti.fechaCierre | date : 'dd/MM/yyyy'}}</b><br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <ion-icon style="font-size: 1.5em" name="alarm-outline"></ion-icon>&nbsp;{{noti.horaCierre}}</b>                           
                      </div>    
                    </ion-button>
                    </div>                  
                </ion-card-content>       
              </ion-card>           
        </div>         
      </ion-card-content>      
  </ion-card>
  <div class="footer">
  <ion-card>  
      <ion-card-header style="height: 5rem;">
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button color="danger" (click)="ingresarPaginaRegistroSintomas()">
              <ion-icon name="thermometer-outline" color="danger"></ion-icon>
              <ion-label>Sintomas</ion-label>
              <ion-badge color="danger">39°</ion-badge>
            </ion-tab-button>
        
            <ion-tab-button (click)="ingresarPaginaInicio()">
              <ion-icon name="home-outline" color="danger"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-tab-button>
        
            <ion-tab-button (click)="ingresarPaginaCuidados()">
              <ion-icon name="accessibility-outline" color="danger"></ion-icon>
              <ion-label>Cuidados</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-card-header>
    </ion-card>
  </div>      
</ion-content>

  