/*ion-button{
    position: static;
    right:9px ;
    height:60px;
    width: 320px;
    font-family: Helvetica;
    border-color:red;
    
}*/

.alingtextb{    
    text-align: left;
    height: 8rem;
}

.titulo{    
    text-align: center;    
}