<ion-header class="ion-text-center">  
  <img src="../../../assets/bannerVerificacion.jpg"/>
</ion-header>
<ion-content>
  <ion-card style="background-image: url(assets/fondo.jpg);" >
    <ion-card-header class="ion-text-center" >
      <br><br><br><br><br><br><br><br><br><br><br>
      <ion-card-title style="color: aliceblue;">CÓDIGO DE VERIFICACIÓN</ion-card-title>
      
      <br>
        <ion-item class="ion-item ion-text-center">
          <ion-input  mask="0-0-0-0" [(ngModel)]="codigoActivacion"></ion-input>
        </ion-item>


        <!-- <ion-button color="danger"   (click)="enviarDatos(usuarioForm.value)" expand="block">Registro</ion-button> -->

        <ion-button class="boton_personalizado" padding="" color="danger" class="ion-text-center" (click)="enviarCodigo()"><p>continuar</p></ion-button>
        <ion-button color="danger" class="ion-text-center">Reenviar código</ion-button>

        <!-- <ion-col>
          <ion-router-link href="" class="underline">Reenviar código</ion-router-link>
        </ion-col> -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </ion-card-header>
  </ion-card>

</ion-content>
{{codigoActivacion|json}}
{{codUsuario|json}}

