
<ion-header>
  <ion-toolbar>
    <img src="../../../assets/Banner_login.jpg"/>    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center" style="width: 100%;">  
  <ion-card style="max-width: 95%; height: 100%;">
    <ion-card-content class="contentCard">
      <br>      
      <ion-list>
        <div class="contentCard">
        <ion-item style="max-width: 80%;">
          <ion-label><b>Institución</b></ion-label>
          <ion-select value="u1" style="text-align: center;" okText="Listo" [(ngModel)]="universidad"
            cancelText="Cancelar">
            <ion-select-option *ngFor="let institucion of instituciones" [value]="institucion.codInstitucion">
              {{institucion.nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item style="max-width: 80%;">
          <ion-label><b>Tipo de Documento</b></ion-label>
          <ion-select value="td1" style="text-align: center;" okText="Listo" [(ngModel)]="tipoDocumento"
            cancelText="Cancelar">
            <ion-select-option *ngFor="let tipo of tipoDocumentos" [value]="tipo.nomenclatura">
              {{tipo.descripcion}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item style="max-width: 80%;">
          <ion-label position="floating" ><b>Número de documento</b></ion-label>
          <ion-input  [(ngModel)]="numeroDocumento"></ion-input>
        </ion-item>
      </div>
        <br><br>
        <ion-checkbox color="danger" checked="true"></ion-checkbox>
        <div>Recordar mis datos</div>
        <br>
        <ion-button color="danger" class="ion-text-center" (click)="validarIngreso()">Ingresar</ion-button>
        <br><br>
        <ion-router-link color="danger" routerLink="/registro"><b>Registrarse.</b></ion-router-link>
        <br>
        <div>_________________________________</div> 
        <br>       
          <ion-label>
            <ion-router-link color="danger" routerLink="/politica">
              <b>Politica de tratamiento de datos.</b>
          </ion-router-link>
        </ion-label>    
      </ion-list>      
    </ion-card-content>
  </ion-card>
</ion-content>
