.container {
    max-width: 80%;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.item{
    text-align: center;
}
.label{
    text-align: center;
}
.avatar{
    text-align: center;
    margin: auto;
}
.lavadoManos{
    height: auto; 
    width: auto; 
    max-width: center; 
    max-height: 250px;
    position: relative;
    position:left;
}
