ion-content{
    text-align: justify;
    background-color: red;
    
}
ion-slides {
    height: 100%;
    --bullet-background: white;
    --bullet-background-active:white;
}
// estilos de slider
.slide-img{
    text-decoration-color: red;
}
.slide-img-padding{
    text-decoration: red;
}
.ion-fab button{
    background-color: red;
}

